p {
    font-family: Garamond;
    font-size: 1.5rem;
    }

    .inputs {
        height: 100vh;
        background-color: rgba(52, 96, 102, 0.432); 
    }

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(216, 216, 216, 0.432); 

}

.plotarea {
    background-color:rgb(220,220,220);
}

.input-group{
    display: block;
    max-width: 350px !important;
}
.matrix {
    position: relative;
}
.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0;
}
.matrix:after {
    right: -6px;
    border-left: 0;
}





.open-btn {
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:0.5rem 0.5rem;
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 100%;
    height: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.main-popup{
    position:absolute;
    left:0;
    top:0;
    height: 50vh;
    width:80%;
    z-index: 1;
    background:rgb(255, 255, 255);
    display:flex;
    justify-content:center;
    align-items:center;
    transform: translateX(-100%);
    background-color:rgb(200,200,200);
    border-top: solid 5px;
    border-left: solid 5px;
    border-right: solid 5px;
    border-bottom: solid 10px;
    overflow: hidden;
}

.close-btn {
    position:absolute;
    top:1rem;
    padding-bottom: 6px;
    left:1rem;
    font-size:2rem;
    cursor:pointer;
    border:2px solid black;
    transition: .5s ease all;
}

.close-btn:hover {
    background:white;
}

.popup-content p{
    font-size:1.5rem;
    line-height:2rem;
}

@keyframes slide-in {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%)
    }
}

@keyframes slide-out{
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}